<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./logs/javaimport.log"/> 
        <param name="Append" value="true"/> 
        <param name="Encoding" value="UTF-8"/> 
        <param name="MaxFileSize" value="1MB"/> 
        <param name="MaxBackupIndex" value="10"/> 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] [%d{yyyy/MM/dd HH:mm:ss.SSS}] [%t] - %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="file"/>
    </root>
</log4j:configuration>
